.output {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.output--editor {
  height: calc(100% - 2rem);
}

.output--options {
  align-items: center;
  display: flex;
  height: 3.5rem;
  padding-left: 1rem;
}

.output--language-chooser {
  padding: 0.5rem;
}

.output--github {
  bottom: 1rem;
  position: absolute;
  right: 0.5rem;
}
