.app-screen--main {
  display: flex;
  flex-direction: column;
}

.app-screen--left,
.app-screen--right {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 945px) {
  .app-screen--main {
    flex-direction: row;
  }

  .app-screen--left,
  .app-screen--right {
    width: 50%;
    height: 100%;
  }
}
